/* Clear */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; }
body { font-size: 62.5% }
/*select, input, textarea, button { font:99% sans-serif; }*/
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


::-moz-selection{ background: #F98400; color:#fff; text-shadow: none; }
::selection { background:#F98400; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #F98400; }
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea { color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #61cce2; }
a:hover { color: #ff8a00; }

/* End Clear */


/* Body */

body
{
    font-family: Arial, Verdana, sans-serif;
    color:#444;
}

/* End Body */


/* Header */

header 
{
    background: url(../img/bg-header.png) bottom center repeat-x;
    height: 122px;
    width:100%;
}

.logo 
{ 
    margin: 20px 0 15px; 
}

nav 
{
    float: right;
    margin: 48px 10px 0 0; 
}
		
nav li 
{
    font: 16px/20px 'ChunkFiveRegular', Arial, sans-serif; 
    float: left;
    letter-spacing: 0; 
}

nav a  
{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    color: #ff8a00;
    padding: 7px 10px;
    margin-left: 10px;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: background 0.1s linear; 
}

nav a:hover
{
    background: rgb(251, 206, 133);
    background: rgba(255, 138, 0, 0.25);
    color: #ff8a00; 
}

nav a:visited
{ 
    color: #ff8a00; 
}		

nav a.on  
{
    background: rgb(251, 206, 133);
    background: rgba(255, 138, 0, 0.25); 
}

nav a.nav-log-in 
{
    background-color: #85d9eb; 
    background: -moz-linear-gradient(100% 100% 90deg, #6bd2e7, #85d9eb); 
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#85d9eb), to(#6bd2e7)); /* -webkit-gradient(<type>, <point> [, <radius>]?, <point> [, <radius>]? [, <stop>]*) */ 
    background: -webkit-linear-gradient(#6bd2e7, #85d9eb); 
    background: -o-linear-gradient(#6bd2e7, #85d9eb);
    border: 1px solid #61cce2;
    color: #fff5db;
    -webkit-text-shadow: 1px 1px 2px #51c1dc;
    -moz-text-shadow: 1px 1px 2px #51c1dc;
    -o-text-shadow: 1px 1px 2px #51c1dc;
    text-shadow: 1px 1px 2px #51c1dc; 
}

nav a.nav-log-in:hover 
{
    border: 1px solid #5dc3dd;
    -moz-box-shadow: inset 0 0 5px #61cce2;
    -o-box-shadow: inset 0 0 5px #61cce2;
    -webkit-box-shadow: inset 0 0 5px #61cce2;
    box-shadow: inner 0 0 5px #61cce2;
    -webkit-text-shadow: 1px 1px 2px #61cce2;
    -moz-text-shadow: 1px 1px 2px #61cce2;
    -o-text-shadow: 1px 1px 2px #61cce2;
    text-shadow: 1px 1px 2px #61cce2; 
}

nav li:last-child a
{
    background-color: #85d9eb; 
    background: -moz-linear-gradient(100% 100% 90deg, #6bd2e7, #85d9eb); 
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#85d9eb), to(#6bd2e7)); /* -webkit-gradient(<type>, <point> [, <radius>]?, <point> [, <radius>]? [, <stop>]*) */ 
    background: -webkit-linear-gradient(#6bd2e7, #85d9eb); 
    background: -o-linear-gradient(#6bd2e7, #85d9eb);
    border: 1px solid #61cce2;
    color: #fff5db;
    -webkit-text-shadow: 1px 1px 2px #51c1dc;
    -moz-text-shadow: 1px 1px 2px #51c1dc;
    -o-text-shadow: 1px 1px 2px #51c1dc;
    text-shadow: 1px 1px 2px #51c1dc;
}

nav li:last-child a:hover
{
    background-color: #C7EFF5; 
    background: -moz-linear-gradient(100% 100% 90deg, #96DFEE, #B0E6F3); 
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#B0E6F3), to(#96DFEE)); /* -webkit-gradient(<type>, <point> [, <radius>]?, <point> [, <radius>]? [, <stop>]*) */ 
    background: -webkit-linear-gradient(#96DFEE, #B0E6F3); 
    background: -o-linear-gradient(#96DFEE, #B0E6F3);
    border: 1px solid #8BDAEA;
    -webkit-text-shadow: 1px 1px 2px #61cce2;
    -moz-text-shadow: 1px 1px 2px #61cce2;
    -o-text-shadow: 1px 1px 2px #61cce2;
    text-shadow: 1px 1px 2px #61cce2; 
}

/* End Header */


/* Footer */

footer 
{
    border-top: 1px solid #61CCE2;
}

/* End Footer */


/* Grid */

.row {padding-top:10px; padding-bottom:10px;}

.column{margin:0px auto; width:978px; max-width:1000px; min-width:768px; overflow:hidden;}

.column .one{width:97%; padding:0% 1%; float:left;}

.column .two{width:46.75%; padding:0% 1%; float:left;}

.column .twoa{width:30%; padding:0% 1%; float:left;}

.column .twob{width:63.5%; padding:0% 1%; float:left;}

.column .heada{width:20%; padding:0% 1%; float:left;}

.column .headb{width:73.5%; padding:0% 1%; float:left;}

.column .three{width:30%; padding:0% 1%; float:left;}

.column .four{width:21.62%; padding:0% 1%; float:left;}

.a {margin-right:1.5%;}

/* End Grid */


/* Text */

 
@font-face {
    font-family: 'ChunkFiveRegular';
    src: url('Chunkfive-webfont.eot');
    src: url('Chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('Chunkfive-webfont.woff') format('woff'),
         url('Chunkfive-webfont.ttf') format('truetype'),
         url('Chunkfive-webfont.svg#ChunkFiveRegular') format('svg');
    font-weight: normal;
    font-style: normal; }

.textright
{
    text-align:right;
}

.center
{
    text-align: center;
}

h1
{
    color: #ff8a00;
    font: 32px/38px 'ChunkFiveRegular', Arial, sans-serif;
    margin:10px 0px
}

h2
{
    color: #ff8a00;
    font: 26px/32px 'ChunkFiveRegular', Arial, sans-serif;
    margin:10px 0px
}

h3
{
    color: #ff8a00;
    font: 20px/26px 'ChunkFiveRegular', Arial, sans-serif;
    margin:10px 0px
}

h4
{
    color: #ff8a00;
    font: 14px/20px 'ChunkFiveRegular', Arial, sans-serif;
    margin:10px 0px
}

.chunky
{
    font-family: 'ChunkFiveRegular', Arial, sans-serif;
    color: #ff8a00;
}

p
{
    font-family:Arial, Verdana, sans-serif;
    font-size:14px;
    line-height:20px;
    margin:10px 0px
}

small
{
    font-family:Arial, Verdana, sans-serif;
    font-size:11px;
    line-height:17px;
    margin:5px 0px
}

strong
{
    color: #ff8a00;
}

.giant
{
    font: 32px/38px 'ChunkFiveRegular', Arial, sans-serif; 
    font-weight: bold;
    color:#ff8a00;
    margin-bottom: 5px;
}

.big
{
    font-family:Arial, Verdana, sans-serif;
    font-size:16px;
    line-height:22px;
    margin:10px 0px
}

.normal
{
    font-family:Arial, Verdana, sans-serif;
    font-size:14px;
    line-height:20px;
}

.medium
{
    font-family:Arial, Verdana, sans-serif;
    font-size:12px;
    line-height:18px;
}

.blue
{
    color:#61CCE2;
}

.orange
{
    color: #ff8a00;
}

.grey
{
    color: #999;
}

.breadcrumbs
{
    font-size: 11px;
    line-height:32px;
    height: 32px;
}

.underline
{
    text-decoration:underline;
}

.bold
{
    font-weight: bold;
}

    /* Sizes */
    
    .sp5
    {
        font-size: 32px;
        line-height: 38px;
    }
    
    .sp4
    {
        font-size: 24px;
        line-height: 30px;
    }
    
    .sp3
    {
        font-size: 20px;
        line-height: 26px;
    }
    
    .sp2
    {
        font-size: 18px;
        line-height: 24px;
    }
    
    .sp1
    {
        font-size: 16px;
        line-height: 22px;
    }
    
    .s0
    {
        font-size: 14px;
        line-height: 20px;
    }
    
    .sm1
    {
        font-size: 12px;
        line-height: 18px;
    }
    
    .sm2
    {
        font-size: 11px;
        line-height: 17px;
    }

/* End Text */


/* Links */

a
{
    color:#61CCE2;
}

a:hover
{
    color: #ff8a00;
}

a:visited
{
    color:#61CCE2;
}

/* End Links */


/* Boxes */

.box
{
    width:100%;
    border: 1px solid #61cce2;
    margin-bottom: 20px;
}

.box .head
{
    background-color: #85d9eb; 
    background: -moz-linear-gradient(100% 100% 90deg, #6bd2e7, #85d9eb); 
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#85d9eb), to(#6bd2e7)); /* -webkit-gradient(<type>, <point> [, <radius>]?, <point> [, <radius>]? [, <stop>]*) */ 
    background: -webkit-linear-gradient(#6bd2e7, #85d9eb); 
    background: -o-linear-gradient(#6bd2e7, #85d9eb);
    padding:1% 2%;
    height: 25px;
}

.head h3
{
    color: #fff5db;
    -webkit-text-shadow: 1px 1px 2px #51c1dc;
    -moz-text-shadow: 1px 1px 2px #51c1dc;
    -o-text-shadow: 1px 1px 2px #51c1dc;
    text-shadow: 1px 1px 2px #51c1dc;
    margin:0px;
}

.box .content
{
    width:96%;
    padding:1% 2%;
    margin: 10px 0px;
}

.box .graph
{
    width:100%;
    padding:0px;
    margin:20px 0px 0px 0px;
}

.graph p
{
    margin:0px 10px 10px 10px;
}

.box .report
{
    width:96%;
    padding:1% 2%;
    text-align:center;
}

.box .foot
{
    background:blue;
    padding:0% 2%;
    height:26px;
    background-color: #85d9eb; 
}

.foot a{
    color: #fff5db;
}

.foot p
{
    font-size:14px;
    line-height:26px;
}

.box .content small
{
    margin:0px;
}

.box img
{
    float:left;
    margin:5px 5px 5px 0px;
}

.campaignmessage
{
    min-height: 60px;
}

.twitterbox
{
    max-height: 10000px;
}

.hundred
{
    width:100%;
}

.hght1
{
    height:20px;
}

.mrgnbtm1
{
    margin-bottom:10px;
}

/* End Boxes */


/* Tables */

table
{
    margin:20px 0px 30px 0px; 
    padding:10px;  
    border:1px solid #61cce2;
    width:100%;
}

table th
{
    background:#61cce2;
    text-align:left;
    padding:7px;
    font-weight:bold;
    font-size:14px; 
    line-height:18px;   
    color:#fff5db;    
    -webkit-text-shadow: 1px 1px 2px #51c1dc;
    -moz-text-shadow: 1px 1px 2px #51c1dc;
    -o-text-shadow: 1px 1px 2px #51c1dc;
    text-shadow: 1px 1px 2px #51c1dc;
}

table td
{
    padding:7px;
    font-size:14px; 
    line-height:18px;    
    border-bottom:1px dashed #ccc; 
}

td .left
{
    float:left;
    width:35%;
    margin-left:5%;
    text-align: left;
}

td .right
{
    float:right;
    width:35%;
    margin-right:5%;
    text-align: right;
}

.stats
{
    border:none;
    margin:10px 0px;
}

.stats td
{
    border:none;
    padding:5px 0px;
    margin:0px;        
}

/* End Tables */


/* Forms */

form 
{
	
}

fieldset
{
    margin:15px 0px;   
}

fieldset input[type=text] 
{
    border: 1px solid #444;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    padding: 8px;
    width: 250px;
    color:#333;
}

fieldset input[type=password] 
{
    border: 1px solid #444;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    padding: 8px;
    width: 250px;
    color:#333;
}

fieldset input[type=checkbox] 
{
    width:20px;
    margin-right: 5px;
    float:left;
}

fieldset input[type=radio] 
{
    width:20px;
    margin-right: 5px;
    float:left;
}

fieldset select 
{
    border: 1px solid #444;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    padding: 8px;
    width: 250px;
    color:#333;
}

fieldset textarea 
{
    border: 1px solid #444;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    padding: 8px;
    width: 90%;
    height: 100px;
    color:#333;
    font-size:18px;
    line-height:24px;
    font-family: Arial,Verdana,sans-serif;
}

fieldset input[type=submit] 
{
    background-color: #85d9eb; 
    background: -moz-linear-gradient(100% 100% 90deg, #6bd2e7, #85d9eb); 
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#85d9eb), to(#6bd2e7)); /* -webkit-gradient(<type>, <point> [, <radius>]?, <point> [, <radius>]? [, <stop>]*) */ 
    background: -webkit-linear-gradient(#6bd2e7, #85d9eb); 
    background: -o-linear-gradient(#6bd2e7, #85d9eb);
    border: 1px solid #61cce2;
    color: #fff5db;
    font: 22px/20px 'ChunkFiveRegular', Arial, sans-serif; 
    height: 40px;
    text-align: center;
    text-transform: uppercase;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-text-shadow: 1px 1px 2px #51c1dc;
    -moz-text-shadow: 1px 1px 2px #51c1dc;
    -o-text-shadow: 1px 1px 2px #51c1dc;
    text-shadow: 1px 1px 2px #51c1dc;
    width: 250px;
}

fieldset label
{
    display:block;
    width:340px; 
    font: 14px/17px Arial, sans-serif;  
}

fieldset ul
{
    list-style:none;
    margin: 0px;
}

fieldset li
{
    list-style: none;
    float:left;
    margin-right: 20px;
    min-width: 100px;
}

li label
{
    width: auto;
}

.formbutton
{
    background-color: #85d9eb; 
    background: -moz-linear-gradient(100% 100% 90deg, #6bd2e7, #85d9eb); 
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#85d9eb), to(#6bd2e7)); /* -webkit-gradient(<type>, <point> [, <radius>]?, <point> [, <radius>]? [, <stop>]*) */ 
    background: -webkit-linear-gradient(#6bd2e7, #85d9eb); 
    background: -o-linear-gradient(#6bd2e7, #85d9eb);
    border: 1px solid #61cce2;
    color: #fff5db;
    font: 18px/16px 'ChunkFiveRegular', Arial, sans-serif; 
    height: 34px;
    text-align: center;
    text-transform: uppercase;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-text-shadow: 1px 1px 2px #51c1dc;
    -moz-text-shadow: 1px 1px 2px #51c1dc;
    -o-text-shadow: 1px 1px 2px #51c1dc;
    text-shadow: 1px 1px 2px #51c1dc;
    width: 150px;
}

.formbuttonlarge
{
    background-color: #85d9eb; 
    background: -moz-linear-gradient(100% 100% 90deg, #6bd2e7, #85d9eb); 
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#85d9eb), to(#6bd2e7)); /* -webkit-gradient(<type>, <point> [, <radius>]?, <point> [, <radius>]? [, <stop>]*) */ 
    background: -webkit-linear-gradient(#6bd2e7, #85d9eb); 
    background: -o-linear-gradient(#6bd2e7, #85d9eb);
    border: 1px solid #61cce2;
    color: #fff5db;
    font: 18px/16px 'ChunkFiveRegular', Arial, sans-serif; 
    height: 34px;
    text-align: center;
    text-transform: uppercase;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-text-shadow: 1px 1px 2px #51c1dc;
    -moz-text-shadow: 1px 1px 2px #51c1dc;
    -o-text-shadow: 1px 1px 2px #51c1dc;
    text-shadow: 1px 1px 2px #51c1dc;
    width: 250px;
}

.microbutton
{
    font: 14px/18px 'ChunkFiveRegular', Arial, sans-serif; 
    float: left;
    list-style-type:none;
    margin:0px 20px 0px 0px;
    padding:5px 7px; 
    background-color: #85d9eb; 
    background: -moz-linear-gradient(100% 100% 90deg, #6bd2e7, #85d9eb); 
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#85d9eb), to(#6bd2e7)); /* -webkit-gradient(<type>, <point> [, <radius>]?, <point> [, <radius>]? [, <stop>]*) */ 
    background: -webkit-linear-gradient(#6bd2e7, #85d9eb); 
    background: -o-linear-gradient(#6bd2e7, #85d9eb);
    border: 1px solid #61cce2;
    color: #fff5db;
    -webkit-text-shadow: 1px 1px 2px #51c1dc;
    -moz-text-shadow: 1px 1px 2px #51c1dc;
    -o-text-shadow: 1px 1px 2px #51c1dc;
    text-shadow: 1px 1px 2px #51c1dc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px; 
}

.clearbutton
{
    font: 14px/18px 'ChunkFiveRegular', Arial, sans-serif; 
    float: left;
    list-style-type:none;
    margin:0px 20px 0px 0px;
    padding:5px 7px; 
    background-color: #fff; 
    color: #6bd2e7;
}

/* End Forms */


/* Lists */

.standard
{
    list-style: disc;
}

.standard li
{
    margin:10px 0px
}

.nav
{
    width:100%;
    padding:0px;
    margin:0px;
}

.nav li
{
    list-style: none;
    float: left;
    margin-right: 2%;
}

.none
{
    list-style: none;
    margin:0px;
}

.none li
{
    margin:10px 0px
}

.twittertimeline
{
    margin:0px;
}

.twittertimeline li
{
    list-style: none;
    padding-bottom:10px;
    margin: 25px 0px;
    border-bottom: 1px dashed #ccc;
    min-height: 55px;
}

.twittertimeline img
{
    margin:6px 10px 6px 0px;
}

.microtimeline
{
    margin:0px;
}

.microtimeline li
{
    list-style: none;
    padding-bottom:10px;
    margin: 10px 0px;
    border-bottom: 1px dashed #ccc;
    min-height: 55px;
}

.microtimeline img
{
    margin:6px 6px 6px 0px;
}

.signupimages
{
    margin:0px;
    width:300px;
}

.signupimages li
{
    list-style:none;
    float:left;
    padding:2px;
    margin:20px 0px;
}

.signupimages li img
{
    border:1px solid #61CCE2;
}

/* End Lists */


/* Messages */

div.error
{
    background: url(../img/bg-signup.png) 0 0 repeat;
    border: 1px solid #f96600;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    color: #fff5db;
    padding: 10px;
    font-size: 1.6em;
    line-height: 1.7em;
    margin-bottom: 1.2em;
    margin-top:1.2em;
    font-weight:bold;
}

div.persistanterror
{
    background: url(../img/bg-signup.png) 0 0 repeat;
    border: 1px solid #f96600;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    color: #fff5db;
    padding: 10px;
    font-size: 1.6em;
    line-height: 1.7em;
    margin-bottom: 1.2em;
    margin-top:1.2em;
    font-weight:bold;
}

div.success
{
    font-size: 1.6em;
    line-height: 1.7em;
    margin-bottom: 1.2em;
    margin-top:1.2em;
    font-weight:bold;
    background-color: #85d9eb; 
    background: -moz-linear-gradient(100% 100% 90deg, #6bd2e7, #85d9eb); 
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#85d9eb), to(#6bd2e7)); /* -webkit-gradient(<type>, <point> [, <radius>]?, <point> [, <radius>]? [, <stop>]*) */ 
    background: -webkit-linear-gradient(#6bd2e7, #85d9eb); 
    background: -o-linear-gradient(#6bd2e7, #85d9eb);
    border: 1px solid #61cce2;
    -webkit-text-shadow: 1px 1px 2px #51c1dc;
    -moz-text-shadow: 1px 1px 2px #51c1dc;
    -o-text-shadow: 1px 1px 2px #51c1dc;
    text-shadow: 1px 1px 2px #51c1dc;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    color: #fff5db;
    padding: 10px;
}

div.persistantsuccess
{
    font-size: 1.6em;
    line-height: 1.7em;
    margin-bottom: 1.2em;
    margin-top:1.2em;
    font-weight:bold;
    background-color: #85d9eb; 
    background: -moz-linear-gradient(100% 100% 90deg, #6bd2e7, #85d9eb); 
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#85d9eb), to(#6bd2e7)); /* -webkit-gradient(<type>, <point> [, <radius>]?, <point> [, <radius>]? [, <stop>]*) */ 
    background: -webkit-linear-gradient(#6bd2e7, #85d9eb); 
    background: -o-linear-gradient(#6bd2e7, #85d9eb);
    border: 1px solid #61cce2;
    -webkit-text-shadow: 1px 1px 2px #51c1dc;
    -moz-text-shadow: 1px 1px 2px #51c1dc;
    -o-text-shadow: 1px 1px 2px #51c1dc;
    text-shadow: 1px 1px 2px #51c1dc;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    color: #fff5db;
    padding: 10px;
}

.error a
{
    color: #fff5db;
}

.success a
{
    color: #fff5db;
}

.persistanterror a
{
    color: #fff5db;
}

.persistantsuccess a
{
    color: #fff5db;
}

#micromessage
{
    padding:10px 0px;
    font-size:12px;
    line-height:18px;
    color:#85d9eb;
    display:none;
    font-weight:bold;
}
    
.hubmicromessage
{
    position:absolute;
    top:315px;
    left:400px;
}
    
.signupmicromessage
{
    position:absolute;
    top:250px;
    left:480px;
    width:200px;
}

/* End Messages */


/* Images */

img
{
    float:left;
    margin-right:5px;
}

/* End Images */

/* Sidebar */

.top
{
    margin-top:0px;
    padding-top:0px;
}

/* End Sidebar */


/* Popups */

/* Popup */

#popup
{
    position:fixed;
    background:white;
    z-index:5;
    top:5%;
    left:35%;
    width:26%;
    padding:2%;
    border:1px solid #61cce2;   
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px; 
    -moz-box-shadow: 0px 0px 10px #444; 
    -webkit-box-shadow: 0px 0px 10px #444;
    box-shadow: 0px 0px 10px #444; 
}

#popupdata
{

}

#popup select
{
    max-width:75px;
}

#popup ul
{
    margin:0px; 
    list-style-type:none;   
}

#popupcloseholder
{
    width:100%;
    text-align:right;
}

#popupclose
{
    font:18px/22px 'ChunkFiveRegular', Arial, sans-serif; 
    color:#ff8a00;
    cursor:pointer;   
}

#popuploader
{
    font-size:14px;
    line-height:20px;
}

#popupcontent
{
    margin:20px 0px;
    font-size:14px; 
    line-height:18px;

}

.popupscroll
{
    overflow-x:hidden;
    overflow-y:scroll;
    height:400px;
}

#PopupList li
{
    margin:10px 0px;
    padding:5px;
    border-bottom:1px solid #61cce2;
    min-height:60px;
}

#PopupList li img
{
    float:left;
    margin:10px 5px 5px 0px;
}

#PopupList li p
{
    font-size:14px; 
    line-height:20px;
    margin:5px 0px 10px 0px;  
}

#PopupList li small
{
    font-size:11px; 
    line-height:17px;
    margin:10px 0px; 
}

/* End Popup */

/* Lightbox */

#lightbox
{
    position:fixed;
    background:white;
    z-index:5;
    top:5%;
    left:8%;
    width:80%;
    padding:2%;
    border:1px solid #61cce2;   
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px; 
    -moz-box-shadow: 0px 0px 10px #444; 
    -webkit-box-shadow: 0px 0px 10px #444;
    box-shadow: 0px 0px 10px #444; 
}

#lightboxdata
{
    width:100%;
    text-align:center;
}

#lightbox select
{
    max-width:75px;
}

#lightbox ul
{
    margin:0px; 
    list-style-type:none;   
}

#lightboxcloseholder
{
    width:100%;
    text-align:right;
}

#lightboxclose
{
    font:18px/22px 'ChunkFiveRegular', Arial, sans-serif; 
    color:#ff8a00;
    cursor:pointer;   
}

#lightboxloader
{
    font-size:14px;
    line-height:20px;
}

#lightboxcontent
{
    margin:20px 0px;
    font-size:14px; 
    line-height:18px;

}

/* End Lightbox */

/* End Popups */

/* Cursors */

.pointer
{
    cursor: pointer;
}

/* End Cursors */


/* BlockQuotes */

blockquote
{
    margin-left:20px;
    padding:10px;
    border-left:2px solid #ccc;
    font-size:12px;
    font-family:"Courier New",monospace;
}

/* End BlockQuotes */

/* Code */

pre
{
    border:1px dashed #ccc;
    font-size:12px;
    font-family:"Courier New",monospace;
    padding: 10px;
    margin-left: 20px;
}

/* End Code */

/* Overflow */

.ofhidden
{
    overflow: hidden;
}

/* End Overflow */

/* Facebook */

.fbimage
{
    min-height: 60px;
    width:10%;
    float: left;
    margin-right:3%;
    padding:8px 0px;
    min-width: 48px;
}

.fbtext
{
    min-height: 60px;
    width:86%;
    float: left;
}

.fbpopupimage
{
    min-height: 60px;
    float: left;
    margin-right:3%;
    padding:8px 0px;
    min-width: 48px;
    width:20%;
}

.fbpopuptext
{
    min-height: 60px;
    float: left;
    width:75%;
}

/* End Facebook */


/* Alignment */

.aligncenter
{
    margin:0px auto;
}

/* End Alignment */