/* Clear */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; }
body { font-size: 62.5% }
/*select, input, textarea, button { font:99% sans-serif; }*/
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


::-moz-selection{ background: #F98400; color:#fff; text-shadow: none; }
::selection { background:#F98400; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #F98400; }
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea { color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #36b6d5; }
a:hover { color: #fe7d1d; }

/* End Clear */


/* Grid */

.holder {width:100%; overflow:hidden;}

.row {padding-top:10px; padding-bottom:10px; overflow:hidden;}

.columnholder{margin:0px auto; width:980px; position:relative;}

.column{margin:0px auto; width:960px; overflow:hidden; z-index:0px;}

.column .one{width:97%; padding:0% 1%; float:left;}

.column .twoma{width:66%; padding:0% 1%; float:left;}

.column .twomb{width:29%; padding:0%; float:right;}

.column .two{width:46.75%; padding:0% 1%; float:left;}

.column .twoa{width:30%; padding:0% 1%; float:left;}

.column .twob{width:63.5%; padding:0% 1%; float:left;}

.column .heada{width:20%; padding:0% 1%; float:left;}

.column .headb{width:73.5%; padding:0% 1%; float:left;}

.column .three{width:30%; padding:0% 1%; float:left;}

.column .four{width:21.62%; padding:0% 1%; float:left;}

.a {margin-right:1.5%;}

.connect
{
    width:60%;
    margin:0px auto;
}

/* End Grid */


/* Body */

body
{
    font-family: Tahoma, Helvetica, Arial, sans-serif;
    color:#36b6d5;
    background:#eef8fb;
}

/* End Body */

/* Header */

header
{
    height:50px;
    border-bottom:2px solid #febd8d;
    background:#fefefe;
}

/* End Header */

/* Text */

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on May 30, 2012 02:51:08 AM America/New_York */

@font-face {
    font-family: 'BreeSerifRegular';
    src: url('BreeSerif-Regular-webfont.eot');
    src: url('BreeSerif-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('BreeSerif-Regular-webfont.woff') format('woff'),
         url('BreeSerif-Regular-webfont.ttf') format('truetype'),
         url('BreeSerif-Regular-webfont.svg#BreeSerifRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.textright
{
    text-align:right;
}

.center
{
    text-align: center;
}

h1
{
    color: #fe7d1d;
    font: 36px/42px 'BreeSerifRegular', Tahoma, Helvetica, Arial, sans-serif;
    margin:10px 0px
}

h2
{
    color: #fe7d1d;
    font: 24px/30px 'BreeSerifRegular', Tahoma, Helvetica, Arial, sans-serif;
    margin:10px 0px
}

.bree
{
    font-family: 'BreeSerifRegular', Tahoma, Helvetica, Arial, sans-serif;
    color: #fe7d1d;
}

p
{
    font-family:Tahoma, Helvetica, Arial, sans-serif;
    font-size:16px;
    line-height:22px;
    margin:10px 0px
}

small
{
    font-family:Tahoma, Helvetica, Arial, sans-serif;
    font-size:12px;
    line-height:18px;
    margin:5px 0px;
    display: block;
}

strong
{
    color: #fe7d1d;
}

.giant
{
    font: 36px/42px 'BreeSerifRegular', Tahoma, Helvetica, Arial, sans-serif; 
    font-weight: bold;
    color:#fe7d1d;
    margin-bottom: 5px;
}

.big
{
    font-family:Tahoma, Helvetica, Arial, sans-serif;
    font-size:24px;
    line-height:30px;
    margin:10px 0px
}

.normal
{
    font-family:Tahoma, Helvetica, Arial, sans-serif;
    font-size:16px;
    line-height:22px;
}

.small
{
    font-family:Tahoma, Helvetica, Arial, sans-serif;
    font-size:12px;
    line-height:18px;
}

.white
{
    color:#fefefe;
}

.blue
{
    color:#36B6D5;
}

.orange
{
    color: #FE7D1D;
}

.grey
{
    color: #999;
}

.underline
{
    text-decoration:underline;
}

.nounderline
{
    text-decoration:none;
}

.bold
{
    font-weight: bold;
}

    /* Sizes */
    
    .sp2
    {
        font-size: 36px;
        line-height: 42px;
    }
    
    .sp1
    {
        font-size: 24px;
        line-height: 30px;
    }
    
    .s0
    {
        font-size: 16px;
        line-height: 22px;
    }
    
    .sm1
    {
        font-size: 12px;
        line-height: 18px;
    }

/* End Text */


/* Links */

a
{
    color:#36b6d5;
}

a:hover
{
    color: #fe7d1d;
}

a:visited
{
    color:#36b6d5;
}


a.orangelink
{
    color:#FE7D1D;
    text-decoration:none;
}

a.orangelink:hover
{
    color:#FE7D1D;
    text-decoration:none;
}

a.orangelink:visited
{
    color:#FE7D1D;
    text-decoration:none;
}

a.whitelink
{
    color:#fefefe;
}

a.whitelink:hover
{
    color:#fefefe;
}

a.whitelink:visited
{
    color:#fefefe;
}

/* End Links */

/* Lists */

.standard
{
    list-style: disc;
}

.standard li
{
    margin:10px 0px
}

.nav
{
    padding:0px;
    margin:10px 0px;
    float:right;
    width:100%;
}

.nav li
{
    list-style: none;
    float: right;
    margin-left: 2%;
    display:inline;
    height:32px;
    overflow:hidden;
}

.navleft
{
    padding:0px;
    margin:10px 0px;
    float:left;
    width:100%;
}

.navleft li
{
    list-style: none;
    float: left;
    margin-right: 2%;
    display:inline;
}

.none
{
    list-style: none;
    margin:0px;
}

.none li
{
    margin:10px 0px
}

.twitterusers
{
    margin:0px;
}

.twitterusers li
{
    list-style: none;
    padding-bottom:10px;
    margin: 25px 0px;
    border-bottom: 1px dashed #febd8d;
    min-height: 55px;
}

.twittertimeline
{
    margin:0px;
}

.twittertimeline li
{
    list-style: none;
    padding-bottom:10px;
    margin: 25px 0px;
    border-bottom: 1px dashed #febd8d;
    min-height: 55px;
}

.twittertimeline img
{
    margin:6px 10px 6px 0px;
}

.microtimeline
{
    margin:0px;
}

.microtimeline li
{
    list-style: none;
    padding-bottom:10px;
    margin: 10px 0px;
    border-bottom: 1px dashed #febd8d;
    min-height: 55px;
}

.microtimeline img
{
    margin:6px 6px 6px 0px;
}

.signupimages
{
    margin:0px;
    width:300px;
}

.signupimages li
{
    list-style:none;
    float:left;
    padding:2px;
    margin:20px 0px;
}

.signupimages li img
{
    border:1px solid #61CCE2;
}

/* End Lists */

/* Forms */

form 
{
	
}

fieldset
{
    margin:15px 0px;   
}

fieldset input[type=text] 
{
    border: 2px solid #FE7D1D;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    padding: 8px;
    height:20px;
    width: 60%;
    min-width:180px;
    float:right;
    color:#333;
}

fieldset input[type=password] 
{
    border: 2px solid #FE7D1D;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    padding: 8px;
    height:20px;
    width: 60%;
    min-width:180px;
    float:right;
    color:#333;
}

fieldset input[type=file] 
{
    border: 2px solid #FE7D1D;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    padding: 8px;
    height:30px;
    width: 60%;
    min-width:180px;
    float:right;
    color:#333;
    background:#fefefe;
}

fieldset input[type=checkbox] 
{
    width:20px;
    float:left;
    border: 2px solid #FE7D1D;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    margin:8px 5px;
}

fieldset input[type=radio] 
{
    width:20px;
    margin-right: 5px;
    float:left;
    border: 2px solid #FE7D1D;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    margin:8px 5px;
}

fieldset select 
{
    border: 2px solid #FE7D1D;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    padding: 8px;
    width: 60%;
    min-width:180px;
    float:right;
    color:#333;
}

fieldset textarea 
{
    border: 2px solid #FE7D1D;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    padding: 8px;
    width: 60%;
    float:right;
    height: 100px;
    color:#333;
    font-size:18px;
    line-height:24px;
    font-family: Arial,Verdana,sans-serif;
}

fieldset input[type=submit], fieldset input[type=button]  
{
    border:none;
    background-color: #FE7D1D; 
    color: #fefefe;
    font: 18px/15px 'BreeSerifRegular', Tahoma, Helvetica, Arial, sans-serif; 
    height:30px;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    width: 180px;
    float:right;
}

fieldset label
{
    font: 14px/36px 'BreeSerifRegular', Tahoma, Helvetica, Arial, sans-serif; 
    width:30%;
    min-width: 50px;
    margin-right:2%;
    float:left;  
    text-align:right;
}

fieldset ul
{
    list-style:none;
    margin: 0px;
    float:right;
}

fieldset li
{
    list-style: none;
    float:left;
    margin-right: 20px;
    min-width: 100px;
}

li label
{
    
}

li input
{
    float:left;
}

.formbutton
{
    border:none;
    background-color: #FE7D1D; 
    color: #fefefe;
    font: 18px/15px 'BreeSerifRegular', Tahoma, Helvetica, Arial, sans-serif; 
    height:30px;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    width: 180px;
    float:right;
}

.formbuttonlarge
{
    border:none;
    background-color: #FE7D1D; 
    color: #fefefe;
    font: 18px/15px 'BreeSerifRegular', Tahoma, Helvetica, Arial, sans-serif; 
    height:30px;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    width: 180px;
    float:right;
}

.microbutton
{
    border:none;
    background-color: #36B6D5; 
    color: #fefefe;
    font: 15px/30px 'BreeSerifRegular', Tahoma, Helvetica, Arial, sans-serif; 
    height:30px;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    width: 100px;
    float:right;
}

.clearbutton
{
    border:none;
    background-color: #fefefe; 
    color: #36B6D5;
    font: 15px/30px 'BreeSerifRegular', Tahoma, Helvetica, Arial, sans-serif; 
    height:30px;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    width: 100px;
    float:right;
}

#connectform input[type=submit]
{
    background:#fefefe;
    font: 44px/126px 'BreeSerifRegular', Tahoma, Helvetica, Arial, sans-serif; 
    color: #fe7d1d;
    height:126px;
    border:none;
}

#myscoreform input[type=submit]
{
    background:#fefefe;
    font: 44px/126px 'BreeSerifRegular', Tahoma, Helvetica, Arial, sans-serif; 
    color: #fe7d1d;
    height:126px;
    border:none;
}

#searchform input[type=submit]
{
    border:none;
    background-color: #36B6D5; 
    color: #fefefe;
    font: 18px/15px 'BreeSerifRegular', Tahoma, Helvetica, Arial, sans-serif; 
    height:40px;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    width: 180px;
}

#searchform input[type=text]
{
    border: 2px solid #FE7D1D;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    padding: 8px;
    height:20px;
    width: 60%;
    min-width:180px;
    color:#333;
    margin-right:10px;
}

#sharescores
{
    border:none;
    background-color: #36B6D5; 
    color: #fefefe;
    font: 18px/15px 'BreeSerifRegular', Tahoma, Helvetica, Arial, sans-serif; 
    height:40px;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    width: 180px;
}

#resetscores
{
    border:none;
    background-color: #36B6D5; 
    color: #fefefe;
    font: 18px/15px 'BreeSerifRegular', Tahoma, Helvetica, Arial, sans-serif; 
    height:40px;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    width: 180px;
}

#addfaker
{
    border:none;
    background-color: #36B6D5; 
    color: #fefefe;
    font: 18px/15px 'BreeSerifRegular', Tahoma, Helvetica, Arial, sans-serif; 
    height:40px;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    width: 250px;
    margin-left:10px;
}

/*input[type="button"]:disabled,input[type="submit"]:disabled
{
    background:rgba(54,182,213,0.5);
    cursor:default;
}*/

#addfaker[disabled="disabled"]
{
    background:rgba(54,182,213,0.5);
    cursor:default;
}

#searchform input[type="submit"]:disabled
{
    background-color:rgba(54,182,213,0.5);
    cursor:default;
}

#detailsform
{
    color:#fefefe;
}

#detailsform input[type="submit"]
{
    background:#EEF8FB;
    color:#36B6D5;
}

#reset
{
    float:none;
    margin:0px auto;
}

#checkfakes
{
    float:none;
}

/* End Forms */

/* Backgrounds */

.bgwhite
{
    background:#fefefe;
}

.bglblue
{
    background:#EEF8FB;
    border-top:2px solid #36B6D5;
    border-bottom:2px solid #36B6D5;
}

.bglblue1
{
    background:#EEF8FB;
    border-bottom:2px solid #36B6D5;
}

.bglblue2
{
    background:#EEF8FB;
}

.bgorange
{
    background:#FE7D1D;
    border-top:2px solid #fefefe;
    border-bottom:2px solid #fefefe;
}

.bgdblue
{
    background:#36B6D5;
}

.bglorange
{
    background:#febd8d;
}

.bgorangeimg
{
    background:#fefefe url('/Pie/Crust/Template/img/menubackground.png') repeat-y right;
}

/* End Backgrounds */

/* Margins */

.headermargin
{
    margin-top:122px;
}

.imagetopmargin1
{
    margin-top: 5px;
}

/* End Margins */

/* Transparency */

.transparent
{
/*    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5;*/
    background:rgba(255, 255, 255, 0.95);
}

/* End Transparency */

/* Images */

img
{
    float:left;
    margin-right:5px;
}

.featureimage
{
    margin:13px 20px 60px 0px;
}

/* End Images */

/* Boxes */

.pricingbox
{
    width:96%;
    padding:2%;
    background:#eef8fb;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    overflow: hidden;
}

.pricingborders
{
    border-left:2px solid #36B6D5;
    border-right:2px solid #36B6D5;
}

/* End Boxes */

/* Messages */

.e1
{
    width:10%;
    float:left;
    margin-top:10px;
    margin-left:20px;
    margin-bottom:10px;
}

.e2
{
    width:75%;
    float:left;
    margin:15px 0px;
    
}

.e3
{
    float:right;
    cursor: pointer;
    margin-top:14px;
    margin-right:20px;
    font-weight:bold;
    height:25px;
    width:25px;
    text-align:center;
    line-height:25px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px; 
}

.alertmessage
{
    background:#fef898;
    color:#fe7d1d;
    min-height:50px;
}

.alertclose
{
    background:#fed179;
    padding:0px 5px;
}

.infomessage
{
    background:#caf1fb;
    color:#36b6d5;
    min-height:50px;
}

.infoclose
{
    background:#9ae0f1;
}

.successmessage
{
    background:#bbe0b0;
    color:#4fa734;
    min-height:50px;
}

.successclose
{
    background:#93ce81;
    padding:0px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px; 
}

.failuremessage
{
    background:#f8bfbf;
    color:#ea0c0c;
    min-height:50px;
}

.failureclose
{
    background:#f49393;
    padding:0px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px; 
}

#micromessage
{
    font-size: 12px;
    line-height: 18px;
    font-family: 'BreeSerifRegular', Tahoma, Helvetica, Arial, sans-serif; ;
}

.persistanterror
{
    color:#fefefe;
    font-size:16px;
    line-height:22px;
    padding:10px;
    background:#fe7d1d;
    margin:10px 0px;
}

.persistantsuccess
{
    color:#fefefe;
    font-size:16px;
    line-height:22px;
    padding:10px;
    background:#36b6d5;
    margin:10px 0px;
}

/* Messages */

/* Tables */

table
{
    margin:20px 0px 30px 0px; 
    padding:10px;  
    border:2px solid #36b6d5;
    width:100%;
}

table th
{
    background:#36b6d5;
    text-align:left;
    padding:7px;
    font-weight:bold;
    font-size:14px; 
    line-height:18px;   
    color:#fefefe;  
    font-family: 'BreeSerifRegular', Tahoma, Helvetica, Arial, sans-serif;
}

table td
{
    padding:7px;
    font-size:14px; 
    line-height:18px;    
    border-bottom:1px dashed #febd8d;
    background:#eef8fb;
}

td .left
{
    float:left;
    width:35%;
    margin-left:5%;
    text-align: left;
}

td .right
{
    float:right;
    width:35%;
    margin-right:5%;
    text-align: right;
}

.stats
{
    border:none;
    margin:10px 0px;
}

.stats td
{
    border:none;
    padding:5px 0px;
    margin:0px;        
}

/* End Tables */

/* Boxes */

.box
{
    width:100%;
    border: 2px solid #36b6d5;
    margin-bottom: 20px;
    background:#eef8fb;
}

.box .head
{
    background-color: #36b6d5; 
    padding:1% 2%;
    height: 30px;
}

.head h2
{
    color: #fefefe;
    margin:0px;
}

.box .content
{
    width:96%;
    padding:1% 2%;
    margin: 0px;
    background:#eef8fb;
}

.box .graph
{
    width:100%;
    padding:0px;
    margin:20px 0px 0px 0px;
}

.graph p
{
    margin:0px 10px 10px 10px;
}

.box .report
{
    width:96%;
    padding:1% 2%;
    text-align:center;
}

.box .foot
{
    background:#36b6d5;
    padding:0% 2%;
    height:26px;
}

.foot a{
    color: #fefefe;
}

.foot p
{
    font-size:14px;
    line-height:26px;
}

.box .content small
{
    margin:0px;
}

.box img
{
    float:left;
    margin:5px 5px 5px 0px;
}

.campaignmessage
{
    min-height: 60px;
}

.twitterbox
{
    max-height: 10000px;
}

.hundred
{
    width:100%;
}

.hght1
{
    height:20px;
}

.mrgnbtm1
{
    margin-bottom:10px;
}

/* End Boxes */

/* Cursor */

.pointer
{
    cursor:pointer;
}

/* End Cursor */

/* Popups */

/* Popup */

#popup
{
    position:fixed;
    background:white;
    z-index:500;
    top:5%;
    left:35%;
    width:26%;
    padding:2%;
    border:2px solid #fe7d1d;   
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px; 
    -moz-box-shadow: 0px 0px 10px #444; 
    -webkit-box-shadow: 0px 0px 10px #444;
    box-shadow: 0px 0px 10px #444; 
}

#popupdata
{

}

#popup select
{
    max-width:75px;
}

#popup ul
{
    margin:0px; 
    list-style-type:none;   
}

#popupcloseholder
{
    width:100%;
    text-align:right;
}

#popupclose
{
    font:18px/22px 'BreeSerifRegular', Arial, sans-serif; 
    color:#ff8a00;
    cursor:pointer;   
}

#popuploader
{
    font-size:14px;
    line-height:20px;
}

#popupcontent
{
    margin:20px 0px;
    font-size:14px; 
    line-height:18px;

}

.popupscroll
{
    overflow-x:hidden;
    overflow-y:scroll;
    height:400px;
}

#PopupList li
{
    margin:10px 0px;
    padding:5px;
    border-bottom:1px solid #61cce2;
    min-height:60px;
}

#PopupList li img
{
    float:left;
    margin:10px 5px 5px 0px;
}

#PopupList li p
{
    font-size:14px; 
    line-height:20px;
    margin:5px 0px 10px 0px;  
}

#PopupList li small
{
    font-size:11px; 
    line-height:17px;
    margin:10px 0px; 
}

/* End Popup */

/* Lightbox */

#lightbox
{
    position:fixed;
    background:white;
    z-index:500;
    top:5%;
    left:8%;
    width:80%;
    padding:2%;
    border:2px solid #fe7d1d;   
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px; 
    -moz-box-shadow: 0px 0px 10px #444; 
    -webkit-box-shadow: 0px 0px 10px #444;
    box-shadow: 0px 0px 10px #444; 
}

#lightboxdata
{
    width:100%;
    text-align:center;
}

#lightbox select
{
    max-width:75px;
}

#lightbox ul
{
    margin:0px; 
    list-style-type:none;   
}

#lightboxcloseholder
{
    width:100%;
    text-align:right;
}

#lightboxclose
{
    font:18px/22px 'BreeSerifRegular', Arial, sans-serif; 
    color:#ff8a00;
    cursor:pointer;   
}

#lightboxloader
{
    font-size:14px;
    line-height:20px;
}

#lightboxcontent
{
    margin:20px 0px;
    font-size:14px; 
    line-height:18px;

}

/* End Lightbox */

/* End Popups */

/* Overflow */

.ofhidden
{
    overflow: hidden;
}

/* End Overflow */

/* Facebook */

.fbimage
{
    min-height: 60px;
    width:10%;
    float: left;
    margin-right:3%;
    padding:8px 0px;
    min-width: 48px;
}

.fbtext
{
    min-height: 60px;
    width:86%;
    float: left;
}

.fbpopupimage
{
    min-height: 60px;
    float: left;
    margin-right:3%;
    padding:8px 0px;
    min-width: 48px;
    width:20%;
}

.fbpopuptext
{
    min-height: 60px;
    float: left;
    width:75%;
}

/* End Facebook */


/* Alignment */

.aligncenter
{
    margin:0px auto;
}

/* End Alignment */

/* BlockQuotes */

blockquote
{
    margin-left:20px;
    padding:10px;
    border-left:2px solid #36b6d5;
    background:#eef8fb;
    font-size:12px;
    line-height:18px; 
    font-family:"Courier New",monospace;
}

/* End BlockQuotes */

/* Code */

pre
{
    border:2px dashed #36b6d5;
    font-size:12px;
    line-height:18px; 
    font-family:"Courier New",monospace;
    padding: 10px;
    margin-left: 20px;
    background: #eef8fb;
}

/* End Code */

/* Banner */

.banner
{
    position:absolute;
    top:20px;
    left:0px;
    z-index:200;
    height:53px;
    min-width:100px;
}

.banner ul
{
    margin:0px;
}

.banner ul li
{
    list-style:none;
    float:left;
    margin:0px;
}

.bannerimage
{
    height:53px;
    width:10px;     
    background:url('/Pie/Crust/Template/img/left_header.png') no-repeat;
}

.bannertext
{
    height:33px;
    background:#fe7d1d;
    padding:5px 20px; 
    line-height:29px;
    font-size:27px;
    color:#fefefe;
}

.content
{
    margin:80px 0px 0px 0px;
    overflow: hidden;
}

/* End Banner */

/* Menu */

.menu
{
    width:260px;
    margin:0px;
    float:right;
}

.menu img
{
    margin:3px 10px;
}

.menu li
{
    list-style:none;
    height:40px;
    float:left;
}

.m1
{
    width:20px;
    background:#fefefe;
}

.m2
{
    width:220px;
    padding:0px 10px;
    line-height:36px;
    font-size:24px;
    color:#fefefe;
    -webkit-text-shadow: 1px 1px 2px #fe7d1d;
    -moz-text-shadow: 1px 1px 2px #fe7d1d;
    -o-text-shadow: 1px 1px 2px #fe7d1d;
    text-shadow: 1px 1px 2px #fe7d1d;
}

.navdorange
{
    height:39px;
    background:#fe7d1d;
    border-bottom:1px solid #f16d0b;
}

.navtriangle
{
    background:url('/Pie/Crust/Template/img/nav_triangle.png') no-repeat;
}

.submenu
{
    width:240px;
    margin:0px 0px;
    background:#f16d0b;
    float:right;
}

.submenu li
{
    list-style-type:none;
    float:left;
    height:21px;
    margin:7px 0px;
}

.sbm1
{
    width:11px;
}

.sbm2
{
    width:180px; 
    font-size:14px;
    line-height:21px;
    color:#fefefe;
    padding:0px 10px; 
}

.mininavtriangle
{
    background:url('/Pie/Crust/Template/img/mini_nav_triangle.png') no-repeat;
}

.buffertop
{
    width:240px;
    float:right;
    height:20px;        
}

.bufferbottom
{
    width:240px;
    float:right;
    height:100px;        
}

/* End Menu */

/* Friend Search */

#friendresults
{
    min-height:20px;
    width:75%;
    float:right;
    background:#eef8fb;
    padding:0px 8px;
    border-left:2px solid #36b6d5;
    border-right:2px solid #36b6d5;
    border-bottom:2px solid #36b6d5;
}

#friendresults ul
{
    width:96%;
    padding:2%;
    float:left;
}

#friendresults ul li
{
    display:inline;
    float:left;
    margin-right:20px;
    border-bottom:1px dashed #36b6d5;
    cursor:pointer;
}

/* End Friend Search */

/* Fakers */

.green
{
    color:#2AFE1B;
}

.red
{
    color:#FE1B2A;
}

#imageloader
{
    text-align:center;
    float:none;
    margin:0px;
}

.spamscore
{
    color: #fe7d1d;
    font: 18px/28px 'BreeSerifRegular', Tahoma, Helvetica, Arial, sans-serif;
    margin-left:10px;
}

.spamscore a
{
    color: #fe7d1d;
    text-decoration:none;
}

.fakeslist
{
    margin:0px;
}

.fakeslist li
{
    min-height:50px;
    width:100%;
    list-style:none;
    margin:10px 0px;
    color: #fe7d1d;
    font: 18px/28px 'BreeSerifRegular', Tahoma, Helvetica, Arial, sans-serif;
}

.fakeslist li img
{
    margin:5px 10px 5px 5px;
    float:left;
}

.fakeslist li small
{
    color:#36B6D5;
}

.competitorlist
{
    
}

.competitorlist td
{
    font: 24px/48px 'BreeSerifRegular', Tahoma, Helvetica, Arial, sans-serif;
}

.competitorlist td img
{
    margin:5px 10px 5px 5px;
    float:left;
}

#chart
{
    height:300px;
    margin:15px 0px 0px 0px;
}

.chart
{
    float:right;
    cursor: pointer;
    text-align:center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px; 
    background:#FE7D1D;
    margin:4px 0px;
}

.delete
{
    float:right;
    cursor: pointer;
    font-weight:bold;
    text-align:center;
    height:43px;
    width:43px;
    margin:5px 0px;
    line-height:43px; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px; 
    background:#FE1B2A;
    color:#fefefe;
}

#chartreset
{
    border:none;
    background-color: #36B6D5; 
    color: #fefefe;
    font: 18px/30px 'BreeSerifRegular', Tahoma, Helvetica, Arial, sans-serif; 
    height:30px;
    text-align: center;
    border:none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    width: 100px;
    float:right;
    cursor:pointer;
}

.pricingbox
{
    width:96%;
    padding:2%;
    background:#eef8fb;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    overflow: hidden;
}

.pricingborders
{
    border-left:2px solid #36B6D5;
    border-right:2px solid #36B6D5;
}

#checkoutcart td
{
    font: 24px/48px 'BreeSerifRegular', Tahoma, Helvetica, Arial, sans-serif;
}

/* Fakers */