/* Footer */

footer
{
	.footer
	{
		background:@baseColor1;
		color:@baseColor5;
		.grid(100%,10px,0px);
	
		.two
		{
			.grid(46%,10px,2%,left);
			
			a
			{
				color:@baseColor5;
			}
			
			&.right
			{
				text-align:right;
			}
		}
	}
}

/* End Footer */