@media all and (min-width:320px) and (max-width:480px)
{

    /* Clear */

    html, body, div, span, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
    small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section, summary,
    time, mark, audio, video {
      margin: 0;
      padding: 0;
      border: 0;
      font: inherit;
      vertical-align: baseline;
    }

    article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section {
      display: block;
    }

    blockquote, q { quotes: none; }
    blockquote:before, blockquote:after,
    q:before, q:after { content: ""; content: none; }
    ins { background-color: #ff9; color: #000; text-decoration: none; }
    mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
    del { text-decoration: line-through; }
    abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
    table { border-collapse: collapse; border-spacing: 0; }
    hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
    input, select { vertical-align: middle; }

    body { font:13px/1.231 sans-serif; *font-size:small; }
    body { font-size: 62.5% }
    /*select, input, textarea, button { font:99% sans-serif; }*/
    pre, code, kbd, samp { font-family: monospace, sans-serif; }

    html { overflow-y: scroll; }
    a:hover, a:active { outline: none; }
    ul, ol { margin-left: 2em; }
    ol { list-style-type: decimal; }
    nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
    small { font-size: 85%; }
    strong, th { font-weight: bold; }
    td { vertical-align: top; }
    sub, sup { font-size: 75%; line-height: 0; position: relative; }
    sup { top: -0.5em; }
    sub { bottom: -0.25em; }

    pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
    textarea { overflow: auto; } 
    .ie6 legend, .ie7 legend { margin-left: -7px; } 
    input[type="radio"] { vertical-align: text-bottom; }
    input[type="checkbox"] { vertical-align: bottom; }
    .ie7 input[type="checkbox"] { vertical-align: baseline; }
    .ie6 input { vertical-align: text-bottom; }
    label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
    button, input, select, textarea { margin: 0; }
    input:valid, textarea:valid   {  }
    input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
    .no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


    ::-moz-selection{ background: #F98400; color:#fff; text-shadow: none; }
    ::selection { background:#F98400; color:#fff; text-shadow: none; }
    a:link { -webkit-tap-highlight-color: #F98400; }
    button {  width: auto; overflow: visible; }
    .ie7 img { -ms-interpolation-mode: bicubic; }

    body, select, input, textarea { color: #444; }
    h1, h2, h3, h4, h5, h6 { font-weight: bold; }
    a, a:active, a:visited { color: #36b6d5; }
    a:hover { color: #fe7d1d; }

    /* End Clear */


    /* Body */

    body
    {
        font-family: Tahoma, Helvetica, Arial, sans-serif;
        color:#36b6d5;
        background: #fefefe;
    }

    /* End Body */


    /* Header */

    .fixed
    {
        position: fixed;
        top:0px;
        left:0px;
    }

    header 
    {
        height: 122px;
        max-width:480px;
        min-width:320px;
        border-bottom:2px solid #36B6D5;
    }

    .logo 
    { 
        margin: 5px; 
    }

    nav 
    {
        float: left;
        margin:5px 0px; 
        width: 90%;
        overflow:hidden;
    }

    nav ul
    {
        float:left;
    }

    nav li 
    {
        font: 20px/26px 'BreeSerifRegular', Tahoma, Helvetica, Arial, sans-serif;
        float: left;
        font-weight: bold;
        height:30px;
        width:90px;
        margin:0px 0px 10px 10px;
    }

    nav a  
    {
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -o-border-radius: 0px;
        border-radius: 0px;
        color: #fe7d1d;
        padding: 0px;
        margin-left: 0px;
        text-decoration: none;
        -webkit-transition: none; 
    }

    nav a:hover
    {
        background: #fefefe;
        background: #fefefe;
        color: #fe7d1d; 
    }

    nav a:visited
    { 
        color: #fe7d1d; 
    }		

    nav li:last-child a
    {
        background-color: #fefefe; 
        border: none;
        color: #FE7D1D;
    }

    nav li:last-child a:hover
    {
        background-color: #fefefe; 
        border: none;
        color: #FE7D1D;
    }

    #submenu
    {
        display:none;
    }

    #submenu li
    {
        font-size:12px;
        line-height:18px;
        color:#36b6d5;
        font-family: Tahoma, Helvetica, Arial, sans-serif;
        float: left;
        list-style: none;
        margin-left: 5px;
    }

    #submenu li a
    {
        color:#36b6d5;
        text-decoration: underline;
        margin:0px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
        padding: 5px;
        -webkit-transition: background 0.1s linear; 
    }

    #submenu li a:hover
    {
        color:#36b6d5;
        text-decoration: underline;
    }

    #submenu li a:visited
    {
        color:#36b6d5;
        text-decoration: underline;
    }

    #submenu li:last-child a
    {
        background-color: #fefefe; 
        border: none;
        color: #36b6d5;
        text-decoration:none;
        font-family: Tahoma, Helvetica, Arial, sans-serif;
    }

    #submenu li:last-child a:hover
    {
        background-color: #fefefe; 
        border: none;
        color: #36b6d5;
        text-decoration:none;
        font-family: Tahoma, Helvetica, Arial, sans-serif;
    }

    #top
    {
        cursor:pointer;
    }

    /* End Header */


    /* Footer */

    /*footer 
    {
        width:100%;
        background:navy;
    }*/

    /* End Footer */


    /* Grid */

    .holder {width:100%;}

    .row {padding-top:10px; padding-bottom:10px; overflow:hidden;}

    .column{margin:0px auto; min-width:320px; max-width:480px; overflow:hidden;}

    .column .one{width:97%; padding:0% 1%; float:left;}

    .column .two{width:97%; padding:0% 1%; float:left;}

    .column .twoa{width:97%; padding:0% 1%; float:left;}

    .column .twob{width:97%; padding:0% 1%; float:left;}

    .column .heada{width:25%; padding:0% 1%; float:left; display:inline;}

    .heada img{width:75px; height:38px;}
    
    .column .headb{width:70%; padding:0% 1%; float:left;}

    .column .three{width:97%; padding:0% 1%; float:left;}

    .column .four{width:97%; padding:0% 1%; float:left;}

    .a {margin-right:0%;}

    /* End Grid */


    /* Text */

    /* Generated by Font Squirrel (http://www.fontsquirrel.com) on May 30, 2012 02:51:08 AM America/New_York */

    @font-face {
        font-family: 'BreeSerifRegular';
        src: url('BreeSerif-Regular-webfont.eot');
        src: url('BreeSerif-Regular-webfont.eot?#iefix') format('embedded-opentype'),
             url('BreeSerif-Regular-webfont.woff') format('woff'),
             url('BreeSerif-Regular-webfont.ttf') format('truetype'),
             url('BreeSerif-Regular-webfont.svg#BreeSerifRegular') format('svg');
        font-weight: normal;
        font-style: normal;

    }

    .textright
    {
        text-align:left;
    }

    .center
    {
        text-align: center;
    }

    h1
    {
        color: #fe7d1d;
        font: 36px/42px 'BreeSerifRegular', Tahoma, Helvetica, Arial, sans-serif;
        margin:10px 0px
    }

    h2
    {
        color: #fe7d1d;
        font: 24px/30px 'BreeSerifRegular', Tahoma, Helvetica, Arial, sans-serif;
        margin:10px 0px
    }

    .bree
    {
        font-family: 'BreeSerifRegular', Tahoma, Helvetica, Arial, sans-serif;
        color: #fe7d1d;
    }

    p
    {
        font-family:Tahoma, Helvetica, Arial, sans-serif;
        font-size:16px;
        line-height:22px;
        margin:10px 0px
    }

    small
    {
        font-family:Tahoma, Helvetica, Arial, sans-serif;
        font-size:12px;
        line-height:18px;
        margin:5px 0px
    }

    strong
    {
        color: #fe7d1d;
    }

    .giant
    {
        font: 36px/42px 'BreeSerifRegular', Tahoma, Helvetica, Arial, sans-serif;
        font-weight: bold;
        color:#fe7d1d;
        margin-bottom: 5px;
    }

    .big
    {
        font-family:Tahoma, Helvetica, Arial, sans-serif;
        font-size:24px;
        line-height:30px;
        margin:10px 0px
    }

    .normal
    {
        font-family:Tahoma, Helvetica, Arial, sans-serif;
        font-size:16px;
        line-height:22px;
    }

    .small
    {
        font-family:Tahoma, Helvetica, Arial, sans-serif;
        font-size:12px;
        line-height:18px;
    }

    .white
    {
        color:#fefefe;
    }

    .blue
    {
        color:#36B6D5;
    }

    .lblue
    {
        color:#eef8fb;
    }

    .orange
    {
        color: #FE7D1D;
    }

    .grey
    {
        color: #999;
    }

    .underline
    {
        text-decoration:underline;
    }

    .bold
    {
        font-weight: bold;
    }

        /* Sizes */

        .sp2
        {
            font-size: 36px;
            line-height: 42px;
        }

        .sp1
        {
            font-size: 24px;
            line-height: 30px;
        }

        .s0
        {
            font-size: 16px;
            line-height: 22px;
        }

        .sm1
        {
            font-size: 12px;
            line-height: 18px;
        }

    /* End Text */


    /* Links */

    a
    {
        color:#36b6d5;
    }

    a:hover
    {
        color: #fe7d1d;
    }

    a:visited
    {
        color:#36b6d5;
    }


    a.orangelink
    {
        color:#FE7D1D;
        text-decoration:none;
    }

    a.orangelink:hover
    {
        color:#FE7D1D;
        text-decoration:none;
    }

    a.orangelink:visited
    {
        color:#FE7D1D;
        text-decoration:none;
    }

    a.whitelink
    {
        color:#fefefe;
    }

    a.whitelink:hover
    {
        color:#fefefe;
    }

    a.whitelink:visited
    {
        color:#fefefe;
    }

    /* End Links */

    /* Lists */

    .standard
    {
        list-style: disc;
    }

    .standard li
    {
        margin:10px 0px
    }

    .none
    {
        list-style: none;
        margin:0px;
    }

    .none li
    {
        margin:10px 0px
    }

    /* End Lists */

    /* Forms */

    form 
    {

    }

    fieldset
    {
        margin:5px 0px;   
    }
    
    fieldset:first-child
    {
        margin:0px 0px 5px 0px;
    }

    fieldset input[type=text] 
    {
        border: 2px solid #FE7D1D;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
        padding: 8px;
        height:20px;
        width: 90%;
        float:left;
        color:#333;
    }

    fieldset input[type=password] 
    {
        border: 2px solid #FE7D1D;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
        padding: 8px;
        height:20px;
        width: 90%;
        float:left;
        color:#333;
    }

    fieldset input[type=checkbox] 
    {
        width:20px;
        margin-right: 5px;
        float:left;
    }

    fieldset input[type=radio] 
    {
        width:20px;
        margin-right: 5px;
        float:left;
    }

    fieldset select 
    {
        border: 2px solid #FE7D1D;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
        padding: 8px;
        height:20px;
        width: 90%;
        float:left;
        color:#333;
    }

    fieldset textarea 
    {
        border: 2px solid #FE7D1D;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
        padding: 8px;
        width: 90%;
        float:left;
        height: 100px;
        color:#333;
        font-size:18px;
        line-height:24px;
        font-family: Tahoma, Helvetica, Arial, sans-serif;
    }

    fieldset input[type=submit] 
    {
        border:none;
        background-color: #FE7D1D; 
        color: #fefefe;
        font: 18px/15px 'BreeSerifRegular', Tahoma, Helvetica, Arial, sans-serif;
        height:30px;
        text-align: center;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
        width: 180px;
        float:left;
    }

    fieldset label
    {
        font: 14px/36px 'BreeSerifRegular', Tahoma, Helvetica, Arial, sans-serif;
        width:96%;
        display:block;
        margin-right:2%;
        float:left;  
        text-align:left;
    }

    fieldset ul
    {
        list-style:none;
        margin: 0px;
    }

    fieldset li
    {
        list-style: none;
        float:left;
        margin-right: 20px;
        min-width: 100px;
    }

    li label
    {
        width: auto;
    }

    .formbutton
    {
        border:none;
        background-color: #FE7D1D; 
        color: #fefefe;
        font: 18px/15px 'BreeSerifRegular', Tahoma, Helvetica, Arial, sans-serif;
        height:30px;
        text-align: center;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
        width: 180px;
        float:left;
    }

    .formbuttonlarge
    {
        border:none;
        background-color: #FE7D1D; 
        color: #fefefe;
        font: 18px/15px 'BreeSerifRegular', Tahoma, Helvetica, Arial, sans-serif;
        height:30px;
        text-align: center;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
        width: 180px;
        float:left;
    }

    .microbutton
    {
        border:none;
        background-color: #FE7D1D; 
        color: #fefefe;
        font: 18px/15px 'BreeSerifRegular', Tahoma, Helvetica, Arial, sans-serif;
        height:30px;
        text-align: center;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
        width: 180px;
        float:left;
    }

    .clearbutton
    {
        border:none;
        background-color: #FE7D1D; 
        color: #fefefe;
        font: 18px/15px 'BreeSerifRegular', Tahoma, Helvetica, Arial, sans-serif;
        height:30px;
        text-align: center;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
        width: 180px;
        float:left;
    }

    #bluebutton
    {
        border:none;
        background-color: #EEF8FB; 
        color: #36B6D5;
        font: 18px/15px 'BreeSerifRegular', Tahoma, Helvetica, Arial, sans-serif;
        height:30px;
        text-align: center;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
        width: 180px;
        float:left;
    }

    #darkbluebutton
    {
        border:none;
        background-color: #36B6D5; 
        color: #fefefe;
        font: 18px/15px 'BreeSerifRegular', Tahoma, Helvetica, Arial, sans-serif;
        height:30px;
        text-align: center;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
        width: 180px;
        float:left;
    }

    /* End Forms */

    /* Backgrounds */

    .bgwhite
    {
        background:#fefefe;
    }

    .bglblue
    {
        background:#EEF8FB;
        border-top:2px solid #36B6D5;
        border-bottom:2px solid #36B6D5;
    }

    .bglblue1
    {
        background:#EEF8FB;
        border-bottom:2px solid #36B6D5;
    }

    .bgorange
    {
        background:#FE7D1D;
        border-top:2px solid #fefefe;
        border-bottom:2px solid #fefefe;
    }

    .bgdblue
    {
        background:#36B6D5;
    }

    /* End Backgrounds */

    /* Margins */

    .headermargin
    {
        margin-top:122px;
    }

    .imagetopmargin1
    {
        margin-top: 5px;
    }

    /* End Margins */

    /* Transparency */

    .transparent
    {
    /*    zoom: 1;
        filter: alpha(opacity=50);
        opacity: 0.5;*/
        background:rgba(255, 255, 255, 0.95);
    }

    /* End Transparency */

    /* Images */

    img
    {
        float:left;
        margin-right:5px;
    }

    .featureimage
    {
        margin:13px 20px 60px 0px;
    }

    .headerimage
    {
        margin-top:20px;
        width:300px;
        height:159px;
    }
    
    img
    {
        max-width:300px;
    }


    /* End Images */

    /* Boxes */

    .pricingbox
    {
        width:96%;
        padding:2%;
        background:#eef8fb;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -o-border-radius: 20px;
        border-radius: 20px;
        overflow: hidden;
    }

    .pricingborders
    {
        border-left:none;
        border-right:none;
    }

    /* End Boxes */

    /* Messages */

    .e1
    {
        width:20%;
        float:left;
        color: #fefefe;
    }

    .e2
    {
        width:64%;
        float:left;
        color: #fefefe;
        padding-top:5px;
    }

    .e3
    {
        width:10%;
        float:left;
        color: #fefefe;
        cursor: pointer;
        padding-top:5px;
        font-weight:bold;
    }

    /* Messages */

}